/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #0C3058;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.logo {
    font-size: 1.5rem;
    /*font-family: "Rubik script=latin rev=2";*/
    font-weight: bold;
}

.fixedNavbarLeft {
    display: flex;
    color: #031147;
    font-weight: 500;
}

.loginSignup, .language {
    display: flex;
    flex-direction: row-reverse;
}

.languageArrowDown {
}

.findCloseEventContainer {
    position: relative;
}

.findCloseEventImg {
    max-width: -webkit-fill-available;
}

.findCloseEventText {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
/*
.meetingSearchBarContainer {
}
*/
.meetingSearchBarContainer .navbar {
    background: #0068F5;
    width: 100%;
    /*display: flex;*/
}

.eventInput {
    max-width: 20%;
    text-align: right;
}

.pickAreaButton {
    max-width: 16%;
}

.datepicker {
    min-width: 30%;
    border-radius: 5px;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    border:0;
    text-align:center;
}

.searchInputContainer {
    max-width: 10%;
}

.searchInput {
    max-width: 100%;
    text-align: center;
}

#navbarSupportedContent {
    justify-content: center;
    align-items: normal;
}

.pickAreaArrow {
    position: absolute;
    top: 0.5rem;
}
